@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* =============================== VAR =============================== */
:root {
    /* max-width */
    --max-w: 800px;

    /* Cores */
    --primary-color: #ff6600;
    --primary-color-light: #fcd6b2;
    --secondary-color: #002088;
    --secondary-color-dark: #061853;
    --white: #fff;
    --black: #000;
    --dark-gray: #333;
    --light-gray: #aaa;

    /* Espaçamentos */
    --spc-small: 0.5em;
    --spc-normal: 1em;
    --spc-large: 2em;
    --spc-extralarge: 3em;

    /* componentes*/
    --pdd-button: 0.6em 1.2em 0.4em 1.2em;
    --pdd-etiqueta: 0.2em 0.4em 0.1em 0.4em;
    --radius: 2px;

}

/* =============================== TAGS =============================== */

html {
    /* tamanho da fonte raíz */
    font-size: 18px;
    /*apliquei tipografia a todas as tags*/
    font-family: "Ubuntu", sans-serif;
    color: var(--black);
}

body {
    background-color: var(--primary-color);
    /*     font-size: var(--font-size-root); */
    padding: 0;
    margin: var(--spc-normal);
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


h1 {
    font-weight: 100;
    font-size: 2em;
    margin: var(--spc-small) 0;
}

h2 {
    font-weight: 100;
    font-size: 1.7rem;
    margin: var(--spc-large) 0 var(--spc-small) 0;
}

h3 {
    font-weight: 600;
    margin: var(--spc-large) 0 var(--spc-small) 0;
}

p {
    margin: var(--spc-normal) 0;
}

section {
    padding: 0;
    margin: 0;
}

a {
    color: var(--white);
    text-decoration-thickness: 1px;

    &:hover {
        text-decoration-thickness: 3px;
        color: var(--primary-color-light);
    }

    &.destaque {
        display: inline-block;
        padding: var(--pdd-button);

        color: var(--secondary-color);
        text-decoration: none;

        border: 1px solid var(--secondary-color);
        border-radius: var(--radius);

        &:hover {
            color: var(--secondary-color-dark);
            border-color: var(--secondary-color-dark);
        }
    }
}

footer {
    padding-bottom: 50px;

    & ul {
        list-style-type: none;
        padding: 0;

        & li {
            display: inline;
            padding: 0 10px 0 0;
            font-size: 1.5rem;
        }

    }
}

button {
    font-size: medium;
    color: var(--secondary-color);
    padding: 5px 40px;
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);

    &:hover {
        color: var(--primary-color-light);
        border: 1px solid var(--primary-color-light);
    }
}

/* =============================== ID =============================== */
#container {
    max-width: var(--max-w);
    margin: auto;
}

#logo {
    width: 150px;
}

#navMobile {
    visibility: hidden;
    display: none;
}

#navDesktop {

    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    & li {
        display: inline;
        margin-left: var(--spc-normal);

        & a {
            text-decoration: none;
            color: var(--black);

            &:hover {
                color: var(--white);
            }
        }
    }
}

#apresentacao {
    position: relative;
}

#imgHero {
    z-index: -1;
    position: absolute;
    right: 0;
}

/* =============================== CLASS =============================== */

.etiqueta {
    flex-wrap: wrap;

    &,
    & ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;

        color: var(--dark-gray);
    }

    & ul {
        flex-wrap: nowrap;
    }

    &>li {
        margin: auto 0;
    }

    & ul li {
        padding: var(--pdd-etiqueta);
        width: max-content;
        margin: 2px;
        border: 1px solid var(--dark-gray);
        border-radius: var(--radius);
    }
}

.dropDownMenu {
    list-style-type: none;
    background-color: var(--primary-color);

    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
    display: none;
    border: 1px solid var(--primary-color-light);


    & a {
        display: block;
        padding: 10px 8px;
    }
}

.mostrar {
    display: block;
}

.experiencia {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    & .expPrincipal {
        min-width: 40%;

        * {
            padding: 0 0 4px 0;
            margin: 0;
        }
    }

    & .expDescricao ul {
        margin: 0;
        list-style-type: square;
    }
}

/* =============================== MEDIA QUERY =============================== */

@media screen and (max-width: 800px) {

    /* Não consegui aplicar var(--max-w) */
    html {
        font-size: 16px;
    }

    #navMobile {
        visibility: visible;
        display: inline;
    }

    #navDesktop {
        visibility: hidden;
        display: none;
    }

    .experiencia {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 14px;
    }
}