@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* =============================== VAR =============================== */
:root {
    /* max-width */
    --max-w: 800px;

    /* Cores */
    --primary-color: #ff6600;
    --primary-color-light: #ff8b3d;
    --primary-color-dark: #b44800;

    --secondary-color: #00F1FF;
    --secondary-color-light: #c8fcff;
    --secondary-color-dark: #00c0ca;

    --white: rgb(253, 253, 253);
    --black: #0c0c0c;
    --dark-gray: #333;
    --light-gray: #d6d6d6;

    /* Espaçamentos */
    --spc-small: 0.5em;
    --spc-normal: 1em;
    --spc-large: 2em;
    --spc-extralarge: 3em;

    /* componentes*/
    --pdd-button: 0.6em 1.2em 0.4em 1.2em;
    --pdd-etiqueta: 0.2em 0.4em 0.1em 0.4em;
    --radius: 3px;

}

/* =============================== TAGS =============================== */

html {
    /* tamanho da fonte raíz */
    font-size: 16px;
    /*apliquei tipografia a todas as tags*/
    font-family: "Ubuntu", sans-serif;
    color: var(--black);
}

body {
    background-color: var(--white);
    /*     font-size: var(--font-size-root); */
    padding: 0;
    margin: var(--spc-normal);
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: aparecerCima 1s ease;
}

main {
    padding-top: var(--spc-extralarge);
    animation: aparecer 1s ease;
}


h1 {
    font-weight: 100;
    font-size: 2em;
    width: fit-content;
    margin: var(--spc-small) 0;
}

h2 {
    font-weight: 100;
    font-size: 1.7rem;
    margin: var(--spc-extralarge) 0 var(--spc-small) 0;
}

h3 {
    font-weight: 600;
    margin: var(--spc-large) 0 var(--spc-small) 0;
}

p {
    margin: var(--spc-normal) 0;
    max-width: 600px;
}

section {
    padding: 0;
    margin: 0;
}

section:not(.experiencia) {
/*     background-color: red;
 */    animation: aparecerBaixo 1s ease;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}


a {
    color: var(--primary-color);
    text-decoration: none;

    &:hover,
    &:focus {
        color: var(--primary-color-dark);
    }

    &:active {
        color: var(--primary-color-light);
    }

    &.destaque {
        display: inline-block;
        padding: var(--pdd-button);

        color: var(--white);
        background-color: var(--primary-color);

        text-decoration: none;
        border-radius: var(--radius);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

        &:hover,
        &:focus {
            background-color: var(--primary-color-dark);
        }

        &:active {
            background-color: var(--primary-color-light);
        }
    }
}

footer {
    & ul {
        list-style-type: none;
        padding: 0;

        & li {
            display: inline;
            padding: 0 10px 0 0;
            font-size: 1.5rem;
        }

    }
}

button {
    font-size: medium;
    color: var(--primary-color);
    border: none;
    cursor: pointer;

    /* fundo transparente */
    background-color: rgba(0, 0, 0, 0);

    /* configurações para que a área clickável seja maior para o touchscreen */
    box-sizing: border-box;
    height: 100%;
    /* ícone alinhado com o conteúdo mas sem perder área clicável */
    padding: 0 0 0 20px;

    &:hover,
    &:focus {
        color: var(--primary-color-dark);
    }

    &:active {
        color: var(--primary-color-light);
    }

}

/* =============================== ID =============================== */
#container {
    max-width: var(--max-w);
    margin: auto;
}

#logo {
    width: 100px;
}

#navMobile {
    visibility: hidden;
    display: none;
    position: relative;
}

#navDesktop {

    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    & li {
        display: inline;
        margin-left: var(--spc-normal);


    }
}

#apresentacao {
        /* para imagem child ficar relativa a parente, não relativa a página */

    position: relative;
}

#imgHero {
    z-index: -1;
    position: absolute;
    right: 0;
}

#footerFim {
    margin: var(--spc-extralarge) 0 var(--spc-normal);
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & * {
        padding: 0;
        margin: 0;
    }
}

/* =============================== CLASS =============================== */

.etiqueta {
    flex-wrap: wrap;
    font-size: 0.8rem;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

    & li {
        padding: var(--pdd-etiqueta);
        width: max-content;
        margin: 2px;
        color: var(--dark-gray);

        border: 1px solid var(--dark-gray);
        border-radius: var(--radius);
    }
}

.dropDownMenu {
    list-style-type: none;
    background-color: var(--white);
    right: 0;
    padding: 0;
    margin: 0;
    position: absolute;

    z-index: 1;
    display: none;
    border: 1px solid var(--light-gray);


    & a {
        display: block;
        padding: 10px 8px;
    }
}

.mostrar {
    display: block;
}

.experiencia {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin: var(--spc-large) 0;

    & .expPrincipal {
        min-width: 30%;
        margin-right: 1rem;
        padding-bottom: var(--spc-small);

        * {
            padding: 0 0 4px 0;
            margin: 0;
        }
    }

    & .expDescricao ul {
        margin: 0;
        padding: 0 0 0 1em;
        list-style-type: square;

        &>li {
            margin-bottom: var(--spc-small);

            &::marker {
                /* seletor das bullets da lista ul */
                color: var(--secondary-color);
            }
        }
    }
}

.projeto {
    padding: var(--spc-large) 0 var(--spc-small) 0;



    &>h3 {
        margin: var(--spc-small) 0;
    }

    & p {
        margin: var(--spc-small) 0;
    }
}

.limparLista {
    list-style-type: none;
    padding: 0;

    &>li {
        display: inline;
        padding: 0 var(--spc-normal) 0 0;
        margin: 0;
    }
}

/* =============================== MEDIA QUERY =============================== */

@media screen and (max-width: 800px) {

    /* Não consegui aplicar var(--max-w) */
    html {
        font-size: 16px;
    }

    #navMobile {
        visibility: visible;
        display: inline;
    }

    #navDesktop {
        visibility: hidden;
        display: none;
    }

    .experiencia {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 14px;
    }
}

/* =============================== KEYFRAMES =============================== */
@keyframes aparecer {
    from{
        opacity: 0;
    }to{
        opacity: 100%;
    }
}

@keyframes aparecerBaixo {
    from {
        opacity: 0%;
        translate: 0 100vh;
    }

    to {
        opacity: 100%;
        translate: 0 0;

    }
}

@keyframes aparecerCima {
    from {
        opacity: 0%;
        translate: 0 -100vh;
    }

    to {
        opacity: 100%;
        translate: 0 0;

    }
}