@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary-color: #ff6600;
    --secundary-color: #fcd6b2;
    --white: #fff;
    --black: #1b1b1b;
}

/* =============================== TAGS =============================== */

* {
    /*apliquei tipografia a todas as tags*/
    font-family: "Ubuntu", sans-serif;
    color: var(--black);
}

body {
    background-color: var(--primary-color);
    font-size: 18px;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

header {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
}


h1 {
    font-weight: 100;
    font-size: 3rem;
}

h2 {
    font-weight: 100;
    font-size: 2rem;
}

h3 {
    font-weight: 600;
}

section {
    padding: 0px;
    margin: 0 0 100px 0;
}

a {
    color: var(--white);
    text-decoration-thickness: 1px;

    &:hover {
        text-decoration-thickness: 3px;
        color: var(--secundary-color);
    }

    &.destaque {
        display: inline-block;
        padding: 6px 12px 6px 12px;

        color: var(--white);
        text-decoration: none;

        border: 1px solid var(--white);
        border-radius: 2px;

        &:hover {
            color: var(--secundary-color);
            border-color: var(--secundary-color);
        }
    }
}

input {
    padding: 5px;
    margin: 5px;
    border-style: none none solid none;
    border-color: var(--primary-color);
}

textarea {
    padding: 10px;
    margin: 0x;
    border-color: var(--primary-color);
    width: 100%;
    max-width: 800px;
    height: 100px;
    resize: none;
}

img {
    max-width: 100%;
}


footer {
    max-width: 800px;
    margin: auto;
    padding-bottom: 50px;

    & ul {
        list-style-type: none;
        padding: 0;

        & li {
            display: inline;
            padding: 0 10px 0 0;
        }

    }
}

button {
    font-size: medium;
    color: var(--white);
    padding: 5px 40px;
    border: 1px solid var(--white);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);

    &:hover {
        color: var(--secundary-color);
        border: 1px solid var(--secundary-color);
    }
}

/* =============================== ID =============================== */

#logo {
    width: 150px;
}

#navMobile {
    visibility: hidden;
    display: none;
}

#navDesktop {

    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    & li {
        display: inline;
        margin-left: 15px;

        & a {
            text-decoration: none;
            color: var(--black);

            &:hover {
                color: var(--white);
            }
        }
    }
}


#imgHero {
    z-index: -1;
    position: absolute;
}

/* =============================== CLASS =============================== */

.etiqueta {
    flex-wrap: wrap;

    &,
    & ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    & ul {
        flex-wrap: nowrap;
    }

    &>li {
        margin: auto 0;
    }

    & ul li {
        padding: 0.5em 0.75em;
        width: max-content;
        margin: 2px;
        border: 1px solid var(--black);
        border-radius: 2px;
    }
}

.dropDownMenu {
    list-style-type: none;
    background-color: var(--primary-color);

    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
    display: none;
    border: 1px solid var(--secundary-color);


    & a {
        display: block;
        padding: 10px 8px;
    }
}

.mostrar {
    display: block;
}

.experiencia {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    & .expPrincipal {
        min-width: 40%;

        * {
            padding: 0 0 4px 0;
            margin: 0;
        }
    }

    & .expDescricao ul {

        margin: 0;
        list-style-type: square;
        


    }
}

/* =============================== MEDIA QUERY =============================== */

@media screen and (max-width: 800px) {
    #navMobile {
        visibility: visible;
        display: inline;
    }

    #navDesktop {
        visibility: hidden;
        display: none;
    }

    .experiencia{
        flex-direction: column;
    }
}